/Manifest.toml
/Manifest.toml.bak
/.vscode
bin/kps-image-1.9-main.so
bin/kps-image-1.10-main.so
data/last_plot.jld2
data/*.jld2
data/*.arrow
data/ref_sim.arrow.bak
data/corr_vec.jld2.bak
output/*.arrow
data/gui.yaml
bin/kps-image-1.10-plot_II.so
