/Manifest.toml
/Manifest.toml.bak
/.vscode
bin/kps-image-1.9-main.so
bin/kps-image-1.10-main.so
data/last_plot.jld2
data/*.jld2
data/*.arrow
data/ref_sim.arrow.bak
data/corr_vec.jld2.bak
output/*.arrow
data/gui.yaml
bin/kps-image-1.10-plot_II.so
docs/.$parking.drawio.bkp
examples_3d/Manifest.toml
bin/kps-image-1.10-fix_yaw.so
Manifest-v1.11.toml
examples_3d/Manifest.toml
bin/kps-image-1.10-parking_controller.so
data/settings_v9c.yaml
data/settings_v9d.yaml
data/settings_v9e.yaml
bin/kps-image-1.11-main.so
Manifest-v1.10.toml
Manifest-v1.11.toml.bak
bin/kps-image-1.11-main.so.bak
bin/kps-image-1.10-main.so.bak
Manifest-v1.10.toml.bak
bin/kps-image-1.11-new_wc.so
Manifest-v1.12.toml
.JETLSConfig.toml
output/batch-*.yaml
bin/kps-image-1.12-main.so
bin/kps-image-1.12-main.so.bak
docs/build
install_version_1.11.txt
install_version_1.12.txt
.gitignore
data/windfield*.npz
bin/kps-image-1.12-turbulence.so
bin/kps-image-1.11.so
bin/kps-image-1.12.so
examples/LocalPreferences.toml
bin/kps-image-1.12.so.bak
video/
output/parking_wind_dir.mp4
output/
examples/.CondaPkg/
test/.CondaPkg/
.CondaPkg/

output/jetls_20260620_150810.log
